/* html{
  height: 100%;
} */
body {
  color: #40514E;
  background-color: ;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  font-size: 5.625rem;
  line-height: 1.5;
  color: #66BFBF;
  margin-top: 50px auto 0 auto;
  font-family: "Sacramento", serif;
}

h2 {
  color: #66BFBF;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: "Montserrat", serif;
  color: #11999E;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #11999E;
  font-family: "Montserrat", serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.top-container {
  padding-top: 100px;
  position: relative;
  background-color: #B7E5DD;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.pro {
    text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 250px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.footer-link {
  color: color: #11999E;
}

.skills {}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  padding-bottom: 100px
}

.Troubleshooting {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.Ladder_programming {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 50%;
  margin: 40px auto 60px
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999de);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999de);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999de);
  background-image: -o-linear-gradient(top, #11cdd4, #11999de);
  background-image: linear-gradient(to bottom, #11cdd4, #11999de);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cd;
  background-image: -webkit-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cd, #2bc4ad);
  text-decoration: none;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
